:root {
  --branding-color: white;
  --primary-color: #7c9075;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  color: var(--branding-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
video {
  width: 1500px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}
.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 250px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
  font-weight: normal;
  background: var(--branding-color);
  border-radius: 4;
  padding: 15px 30px;
}
.btn-branding:hover {
  color: var(--primary-color);
}
.btn-branding-outline {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  color: var(--branding-color);
  font-weight: normal;
  background: var(--primary-color);
  border-radius: 4;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  color: var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
.moodboard {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  text-align: center;
}
.moodboard:hover {
  color: black;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--primary-color);
  padding: 50px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
.email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 22px;
  text-align: center;
}
.email-link:hover {
  color: black;
}
footer .social-links a {
  margin: 0 6px;
  color: var(--primary-color);
  font-size: 36px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: black;
}
.skills {
  color: var(--primary-color);
  font-size: 36px;
  text-align: center;
}
.skills p {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: var(--primary-color);
  line-height: 2;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}
.active {
  color: var(--primary-color) !important;
}
.fa-m {
  font-size: 45px;
  color: var(--primary-color);
}
.navbar {
  font-size: 16px;
  padding-left: 10px;
  background-color: #f2f2f2;
}
/* EVENTS */
.events-title,
.coding-title,
.logo-title,
.design-title {
  font-size: 42px;
  text-align: center;
  margin: 30px;
}
.events-subtitle {
  font-size: 34px;
  color: black;
}
.grid-container {
  columns: 3 200px;
  column-gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
}
.grid-container-3d {
  columns: 2 200px;
  column-gap: 1.5rem;
  width: 81%;
  margin: 0 auto;
}
.image {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.open-source {
  text-decoration: none;
  color: var(--primary-color);
}
.open-source:hover {
  text-decoration: none;
  color: black;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px;
    line-height: 56px;
  }
  h2 {
    font-size: 40px;
  }
  video {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero p {
    font-weight: lighter;
    line-height: 1.5;
    font-size: 32px;
  }
  .hero h2 {
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .btn-branding-outline {
    margin-bottom: 48px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 40px;
    line-height: 55px;
  }
  .navbar {
    font-size: 16px;
    padding-left: 15px;
    background-color: #f2f2f2;
  }
  .active {
    color: var(--primary-color) !important;
  }
  .fa-m {
    font-size: 35px;
    margin: 5px;
    padding-left: 0;
    color: var(--primary-color);
  }
  .email-link {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
  }
  .skills {
    font-size: 26px;
  }
  .skills p {
    font-size: 20px;
  }
  .events-title,
  .coding-title,
  .logo-title,
  .design-title {
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }
  .events-subtitle {
    font-size: 22px;
  }
  .moodboard {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
  }
  footer .social-links a {
    font-size: 26px;
    margin: 0 5px;
  }
}
